.products-search {
    display: flex;
    justify-content: space-between;
}

.inp-btn2{
    width: 300px;
    border: 1px transparent  black;
    margin-bottom: 50px;   
    margin-left: 40%;
}

.shop {
    background-image: url(https://www.footballshirtculture.com/images/stories/chelsea-2021-2022-home-kit/chelsea_2021_2022_home_kit_a.jpeg);
}